:root {
    --red-bg: rgba(255, 90, 95, 0.55);
    --green-bg: #087E8B;
    --background-lg: #C1CAD6;
    --blue-bg: #2E294E;
    --space-bg: #1D1E2C;
}

* {
    font-family: 'Mukta', sans-serif;

}
p {
    font-size: 25px;
}

.text {
    font-size: 25px;
}



.red_bg {
    background-color: var(--red-bg);
}
.green_bg {
    background-color: var(--green-bg);
}
.light_bg {
    background-color: var(--background-lg);

}
.blue_bg {
    background-color: var(--blue-bg);
}

.space_bg {
    background-color: var(--space-bg);
}

.red-text {
    color: var(--red-bg);
}
.green-text {
    color: var(--green-bg);
}
.light-text {
    color: var(--background-lg);

}
.blue-text {
    color: var(--blue-bg);
}

.space-text {
    color: var(--space-bg);
}

.border-color-red > input , .border-color-red > textarea , .border-color-red > button{
    border-color: var(--red-bg);
}



/*
.laptop_bg {
    background-image: url("https://thumbs.dreamstime.com/b/realistic-darkgrey-notebook-transparent-screen-isolated-inch-laptop-open-display-can-use-project-presentation-blank-157057349.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}*/
